*{
    padding: 0;
    margin: 0;
    
}


.single-article-container{
   margin-top: 3%;
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 1px solid rgba(27, 31, 35, 0.15);
    overflow: hidden;
    border-radius: 4px;
    width: 30vw;
}
.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #DAE0E6;
    min-height: 100vh;
}
.articles-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.summary-paragraph{
    padding: 2%;
    width: 70%;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color:#24292E;
}
.classic-paragraph{
  padding: 2%;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color:#24292E;
}
.newSite-paragraph{
  padding: 2%;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: blue;
    text-decoration:none;
}
.label-input-for-fetching-x-articles-container{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fetched-x-articles-label{
  margin-top: 2vh;
    font-size: 2rem;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color:#24292E;
}
.fetched-x-articles-input{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100px;
    margin-top: 2vh;
    border-radius: 4px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    color:#24292E;
}
.container-for-sort-buttons{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 2vh;
}

.classic-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 2vh;
  padding: 1% 3%;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  margin-bottom: 2vh;
}

.classic-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.sort-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.classic-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.classic-button:focus {
  outline: 1px transparent;
}

.classic-button:before {
  display: none;
}
.main-page-nav{
  display: flex;
  justify-content: center;
  height: 6vh;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #F3F4F6;
}
.nav-a-library{
  text-decoration: none;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color:#24292E;
  font-weight: bold;
  font-size: 20px;
}
.info-about-sorting{
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color:#24292E;
}
.howManyArticlesFetches-paragraph{
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color:#24292E;
}

@media only screen and (max-width: 1000px){
  .single-article-container{
    width: 90vw;
  }
}